.app {
  display: flex;
  height: 100vh;
  align-items: center;
  transition: background-color 0.5s ease;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: SemiBold;
  animation: moveAnimation 4s infinite;
}

.details-text {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-weight: Thin;
  color: #888888; /* Adjust color as needed */
}

.details-text-2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #888888; /* Adjust color as needed */
}

.details-text-quotes{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ff8c00; /* Adjust color as needed */
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px 90px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 50%;
  max-width: 400px; /* Adjust the maximum width as needed */
  padding: 0 200px 20px 10px;
}

.cv-details {
  /* Add styles for CV details */
}

.theme-switch {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  /* background-color: #ffffff00; */
  cursor: pointer;
}

.light {
  background-color: #ffffff;
  color: #222;
}

.dark {
  background-color: #171717;
  color: #fff;
}

@media all and (max-width: 810px) {
  .app {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    width: auto;
    height: auto;
  }

  .left-side {
    width: auto;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 20px 520px;
  }

  .right-side {
    width: auto;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px 60px;
  }
}

@media all and (max-height: 400px) {
  .app {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    width: auto;
    height: auto;
  }

  .left-side {
    width: auto;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 150px 20px 90px;
  }

  .right-side {
    width: auto;
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px 60px;
  }
}