/* Contact.css */

.contact {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;

    height: 100vh;
}

.contact-block {
    position: absolute;
    top: 30%;
    left: 15%;;
}

.contact-title {
    font-size: 70px;
    margin-bottom: 20px;
}

.contact-list {
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-width: 870px){

        .contact-title {
            font-size: 45px;
        }

        .contact-list {
            font-size: 15px;
        }
}
